h1,h2 {
	color: green;
	text-align: center;
}
table#names {
	border: 1px solid black;
	text-align: center;
	border-radius: 10px;
}
#border{
	border: 10px solid transparent;
	border-image: url(border.png) 30 round;
}
.colourme {
	background-color: orange
}